tap "homebrew/bundle"
tap "homebrew/core"
tap "homebrew/cask-fonts"
tap "homebrew/services"

{{ if eq .chezmoi.os "linux" -}}
{{ else if eq .chezmoi.os "darwin" -}}
tap "homebrew/cask"
{{ end -}}

brew "ansible"
brew "bash"
brew "bpytop"
brew "coreutils"
brew "curl"
brew "emacs"
brew "gh"
brew "git"
brew "gnupg"
brew "gzip"
brew "htop"
brew "jq"
brew "mosh"
brew "pipenv"
brew "pipx"
brew "pyenv"
brew "tmux"
brew "tree"
brew "unzip"
brew "wget"
brew "zsh"
brew "zsh-completions"
cask "1password"
cask "1password-cli"
cask "alfred"
cask "docker"
cask "emacs"
