function prepend_to_path {
    echo "$PATH" | grep -q $1 || export PATH=$1:$PATH
}

[[ -f "/usr/libexec/path_helpers" ]] && eval "$(/usr/libexec/path_helper)"

plugins=(zsh-completions)
autoload -U compinit && compinit

set -o emacs

prepend_to_path $HOME/bin
prepend_to_path $HOME/.local/bin

PS1='%B%F{yellow1}%~@%m%f -> %b'

CURRENT_OS=$(uname -s)

if [[ -f /etc/manpaths ]]; then
    for dir in $(cat /etc/manpaths); do
	export MANPATH="$MANPATH:$dir"
    done
fi
export MANPATH="/usr/local/man:$MANPATH"

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8
export EDITOR="emacs"
export ALTERNATE_EDITOR="code"
export JAVA_OPTIONS="-Djava.awt.headless=true"
export ANDROID_SDK_ROOT="/usr/local/share/android-sdk"
export ANDROID_NDK_ROOT="/usr/local/share/android-ndk"
export NVM_DIR="$HOME/.nvm"

alias mkdir="mkdir -p"
alias cm=chezmoi
alias cm-up="chezmoi git pull && chezmoi apply -v"
alias pip-up="pip freeze --local | grep -v '^\-e' | cut -d = -f 1  | xargs pip install -U"
alias git-scrub="git branch --merged | grep -v master | xargs git branch -d"
alias brew-up="brew update && brew upgrade"
alias cask="brew cask"

# init nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# init pyenv
if [[ -d $HOME/.pyenv ]]; then
    eval "$(pyenv init -)"

    if [[ -d "$(pyenv root)/plugins/pyenv-virtualenv" ]]; then
	    eval "$(pyenv virtualenv-init -)"
    fi
fi

# init pipx
# eval "$(register-python-argcomplete pipx)"

{{ if eq .chezmoi.os "darwin" -}}
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
{{ end -}}

# set up Java paths
if [[ $CURRENT_OS = "Darwin" ]]; then
    export JAVA_HOME=$(/usr/libexec/java_home)
elif [[ $CURRENT_OS = "Linux" ]]; then
    export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
fi

export PATH=$JAVA_HOME/bin:$PATH

# set up Maven path
if [[ -d /opt/maven ]]; then
    export M2_HOME=/opt/maven
    export MAVEN_HOME=/opt/maven
    prepend_to_path $MAVEN_HOME/bin
fi

if [[ -d /usr/local/go ]]; then
    export GOPATH="$HOME/gocode"
    prepend_to_path /usr/local/go/bin
    prepend_to_path $GOPATH/bin
fi

# Check for processing
if [[ -d /opt/processing/ ]]; then
    prepend_to_path /opt/processing/
fi 

