#!/usr/bin/env bash

{{ if (eq .chezmoi.arch "amd64") -}}
BASE_PACKAGES=$(cat <<EOF
    ansible
    awscli
    bash
    cmake
    coreutils
    curl
    emacs
    gcc
    gh
    git
    gnupg
    gzip
    htop
    hugo
    jq
    mosh
    nvm
    pandoc
    pipenv
    pipx
    pyenv
    tmux
    tree
    unzip
    wget
    zsh
    zsh-completions
EOF
)

CASK_PACKAGES=$(cat <<EOF
    1password 
    1password-cli
    alfred
    docker
    emacs
    font-fira-code
    google-chrome
    hazel
    istat-menus
    iterm2
    moom
EOF
)


# Check whether Homebrew is installed and install it if it's missing
which brew 2>&1 > /dev/null
if [ $? -eq 1 ]; then 
    echo "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew tap homebrew/core
brew tap homebrew/cask-fonts
brew tap homebrew/services
{{ if eq .chezmoi.os "linux" -}}
{{ else if eq .chezmoi.os "darwin" -}}
brew tap homebrew/cask
brew tap homebrew/cask-versions
{{ end -}}

brew install $BASE_PACKAGES || true
brew install --cask $CASK_PACKAGES || true

{{ end -}}

{{ if not (eq .chezmoi.arch "amd64") -}}
sudo apt update
sudo apt install -y build-essential curl emacs mosh tmux zsh

# Install pipx
python3 -m pip install --user pipx
python3 -m pipx ensurepath

# Install pyenv
if [ ! -d $HOME/.pyenv ]; then
    curl https://pyenv.run | bash
fi

{{ end -}}
